.navbar {
    flex-direction: column;
    height: 120px;
}

.navbar a {
    padding: 10px;
    margin: 0 5px;
}

.wrapper {
    flex-direction: column;
}


.column,
.flexGrid .column {
    max-width: 100%;
    flex: 100%;
}




.row {
    flex-direction: column;
}

.solutions .row,
#blog .row {
    flex-direction: column-reverse;
}


.flexReverse .row {
    flex-direction: column;
}