.navbar {
    flex-direction: column;
    height: 120px;
}

.navbar a {
    padding: 10px;
    margin: 0 5px;
}

.wrapper {
    flex-direction: column;
}


.column,
.flexGrid .column {
    justify-content: center;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}



.row {
    flex-direction: column;
}

.solutions .row,
#blog .row {
    flex-direction: column;
}


.flexReverse .row {
    flex-direction: column;
}

#blog1 .row,
#blog2 .row,
#blog3 .row {
    flex-direction: column;
}


/* Cases */

#cases .row .column {
    display: block;
    max-width: 100%;
    flex: 100%;
}